/* Reset básico */

* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

body {
    font-family: 'Times New Roman', sans-serif;

    background-color: rgb(216, 196, 131);

    background: black;
}

header {
    background: #666254;

    color: #fff;
    
    padding: 10px 0;
}

.container {
    width: 80%;

    margin: 0 auto;

    overflow: hidden;

    color: #c7b482;

    font-size: x-large;
    
}

.Logo {
    float: left;
    
    width: 250px;

}

nav {
    transition: transform 0.3s ease-in-out;
}

nav:hover {
    transform: translateY(-10px);
}

nav {
    float : right;

    margin-top: 10px;
}

nav ul {
    list-style: none;

}

nav ul li {
    display: inline;

    margin-left: 10px;
}

nav ul li a {
    color: #dbcfb1;

    text-decoration: none;

    padding: 5px 10px;
}

nav ul li a:hover {
    background: #575757;

    border-radius: 5px;
}






.feature img {
    max-width: 15%;

    height: auto;

    border-radius: 500px;
    
}

footer {
    background: #666254;

    color: #fff;

    text-align: center;

    padding: 1em;
}




